*, html{
	margin: 0px;
	padding: 0px;
}
.header{
	width: 100%;
	height:100px;
	background-color: #000000;
}

.nav-item{
	margin-top: 50px;
}

.background1{
	background: url("blackpan2.jpg") fixed 0 0 no-repeat;
    background-size: cover;
    background-position: top;
    height: 600px;
    width: 100%;
    position: relative;
}

.footer{
	width: 100%;
	height:40px;
	background-color: #000000;
}